* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-image: linear-gradient(#ffffff, #f0f1ff);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: #83869a;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Navbar */
.logo {
    transform: scale(.75);
}

.get-started {
    padding: 1rem 1.75rem;
    background-color: #13183f;
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    border: 0;
}

#top-get-started, #footer-get-started {
    margin-right: 1rem;
}

/* Header */
header * {
    margin: 1rem 1rem;
}

#main-header {
    font-size: 2rem;
}

#mid-get-started {
    /* First time learning linear gradient. COOL! */
    /* linear-gradient(*top color*, *bottom color*) */
    background-image: linear-gradient(#ff6f48, #f02aa6);
    padding: 1rem 3rem;
}

/* Hero */
.hero-image {
    transform: scale(1);
    max-width: 100%;
}

/* Classes section */
#classes-section header {
    background-image: linear-gradient(#ff6f48, #f02aa6);
    color: white;
    height: 7rem;
    display: flex;
    text-align: center;
    align-items: center;
    text-align: left;
    margin: -1rem 1rem 0 1rem;
}

#classes-section header * {
    width: 75%;
    padding-left: .5rem;
    padding-bottom: 1rem;
}

#classes-section {
    padding: 0;
}

/* Class cards */
.class-card {
    background-color: #ffffff;
    margin: 2rem 1rem 0rem 1rem;
}

.class-card * {
    margin: 1rem 2rem;
}
.class-card p {
    margin: 1rem 2rem 2rem 2rem;
}

.card-get-started {
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    color: #f74780;
    font-weight: bold;
    padding-bottom: 2rem;
}

#business-class {
    margin-bottom: 4rem;
}

/* Footer */
#footer {
    background-color: #13183f;
    padding: 2rem 0;
}

#footer-get-started {
    background-image: linear-gradient(#4851ff, #f02aa6);
}