* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-image: linear-gradient(#ffffff, #f0f1ff);
}

html, body { 
    max-width: 100%;
    overflow-x: hidden;
}

p {
    color: #83869a;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Navbar */
.logo {
    transform: scale(.75);
}

.get-started {
    padding: 1rem 1.75rem;
    background-color: #13183f;
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    border: 0;
}

#top-get-started, #footer-get-started {
    margin-right: 1rem;
}

/* Header */
.main-header *:not(.hero-image, picture) {
    margin: 1rem 1rem;
}

#main-header-text {
    font-size: 2rem;
}

#mid-get-started {
    /* First time learning linear gradient. COOL! */
    /* linear-gradient(*top color*, *bottom color*) */
    background-image: linear-gradient(#ff6f48, #f02aa6);
    padding: 1rem 3rem;
}

/* Hero */
.hero-image {
    transform: scale(1);
    max-width: 100%;
}

/* Classes section */
#classes-section header {
    background-image: linear-gradient(#ff6f48, #f02aa6);
    color: white;
    display: flex;
    text-align: left;
    margin: -1rem 1rem 0 1rem;
}

#classes-section header * {
    width: 75%;
    padding-left: .5rem;
    padding-bottom: 1rem;
}

#classes-section {
    padding: 0;
}

/* Class cards */
.class-card {
    background-color: #ffffff;
    margin: 2rem 1rem 0rem 1rem;
}

.class-card * {
    margin: 1rem 2rem;
}
.class-card p {
    margin: 1rem 2rem 2rem 2rem;
}

.card-get-started {
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    color: #f74780;
    font-weight: bold;
    padding-bottom: 2rem;
}

#business-class {
    margin-bottom: 4rem;
}

/* Footer */
#footer {
    background-color: #13183f;
    padding: 2rem 0;
}

#footer-get-started {
    background-image: linear-gradient(#4851ff, #f02aa6);
}

@media (min-width: 320px) and (max-width: 767px) {
    #classes-section header {
        height: 7rem;
    }
    #classes-section header {
        align-items: center;
    }
}
@media (min-width: 768px) {
    .main-header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 4rem auto 4rem auto;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #main-header-text {
        width: 75%;
    }
    .header-content p {
        width: 95%;
    }
    .hero-image {
        content: url("./starter-code/assets/image-hero-tablet.webp");
        transform: scale(2.5);
        padding-left: 3.5rem;
    }
    #classes-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #classes-section header {
        margin: 4rem 1rem 0rem 1rem;
    }
     #classes-section header * {
        margin-top: 3rem;
        margin-left: 1.5rem;
    }
    .class-card {
        position: relative;
        margin: 4rem 1rem 0rem 1rem;
    }
    .class-card * {
        margin: 1rem 2rem;
    }
    .class-card img {
        position: absolute;
        top: -20%;
    }
    .class-card h3 {
        margin-top: 2rem;
    }
    #crypto-class {
        margin-bottom: 4rem;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    #design-class p {
        width: 65%;
    }
}
@media (min-width: 1024px) {
    #top-get-started:active {
        background-color: #666ca3;
    }
    main {
        padding: 0 2rem;
    }
    .main-header {
        margin-bottom: 6rem;
    }
    .header-content {
        justify-content: center;
        gap: 1rem;
    }
    #main-header-text {
        width: 50%;
    }
    .header-content p {
        width: 70%;
    }
    #mid-get-started:active {
        filter: contrast(.35) brightness(1.5);
    }
    .hero-image {
        z-index: -1;
        padding-left: 3rem;
        transform: scale(2);
    }
    #classes-section {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    #classes-section header {
        margin: 4rem 0rem 0rem 0rem;
    }
    .class-card {
        margin: 4rem 0rem 0rem 0rem;
    }
    .card-get-started:active {
        color: #ffa7c3;
    }
    #photography-class {
        margin-bottom: 4rem;
    }
    #footer-get-started:active {
        filter: contrast(.35) brightness(1.5);
    }
}

@media (min-width: 1440px) {
    body {
        padding: 0 6rem;
    }
}